.et_pb_widget:has(.veranstaltungskalender) {
  overflow: none;
}
.veranstaltungskalender .kalenderKalender .monthnavi {
  margin-bottom: 10px;
}
.veranstaltungskalender .kalenderKalender .monthnavi span {
  cursor: pointer;
  height: 22px;
  line-height: 22px;
}
.veranstaltungskalender .kalenderKalender .monthnavi .zurueck {
  float: left;
  font-size: 35px;
  line-height: 17px;
  width: 20%;
}
.veranstaltungskalender .kalenderKalender .monthnavi .vor {
  float: left;
  text-align: right;
  font-size: 35px;
  line-height: 17px;
  width: 20%;
}
.veranstaltungskalender .kalenderKalender .monthnavi .h3 {
  float: left;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  width: 60%;
}

.veranstaltungskalender .kalenderKalender .table table {
  width: auto;
}
.veranstaltungskalender .kalenderKalender .table table tr th {
  border-top: solid 1px white;
  border-bottom: solid 1px #c6c6c8;
  padding: 5px;
  width: 110px;
	vertical-align: middle;
	text-align: center;
}
.veranstaltungskalender .kalenderKalender .table table tr td {
  padding: 5px;
  background-color: #ececed;
  border-top: solid 1px white;
  border-bottom: solid 1px #c6c6c8;
  border-right: solid 1px #c6c6c8;
  vertical-align: top;
}
.veranstaltungskalender .kalenderKalender .table table tr td:last-child {
	border-right: solid 1px #c6c6c8;
}
.veranstaltungskalender .kalenderKalender .table table tr td:first-child {
	border-left: solid 1px #c6c6c8;
}
.veranstaltungskalender .kalenderKalender .table table tr td span {
  text-align: center;
  display: block;
}
.veranstaltungskalender .kalenderKalender .table table tr td .kategorie-1 span {
  color: #dd3333;
  font-weight: bold;
}
.veranstaltungskalender .kalenderKalender .table table tr td .kategorie-2 span {
  color: #8e6ecf;
  font-weight: bold;
}
.veranstaltungskalender .kalenderKalender .table table tr td .kategorie-3 span {
  color: #78bac8;
  font-weight: bold;
}
.veranstaltungskalender .kalenderKalender .table table tr td .kategorie-4 span {
  color: #bfb9b3;
  font-weight: bold;
}
.veranstaltungskalender .kalenderKalender .table table tr td .kategorie-5 span {
  color: #dd9933;
  font-weight: bold;
}
.veranstaltungskalender .kalenderKalender .table table tr td .kategorie-6 span {
  color: #8e6ecf;
  font-weight: bold;
}
.veranstaltungskalender .kalenderKalender .table table tr td .terminKalenderKategorie {
  margin-bottom: 4px;
  cursor: pointer;
}
.veranstaltungskalender .kalenderKalender .table table tr td .terminKalenderKategorie:last-child {
  margin-bottom: 0;
}
.veranstaltungskalender .kalenderKalender .table table tr td.offset {
  background-color: transparent;
}
.veranstaltungskalender .terminDetail div {
	padding: 0 5px;
	display: none;
}

